@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --dark-color: #272a31;
  --dark-grey-color: #3e3e3e;
  --orange-color: #ec5242;
  --gray-color: #d3d3d3;
  --white-color: #fff;
  --white-bg-color: #f7f7f8;
  --transparent-white-color: #ffffff1a;
  --body-child-padding: 10px 20px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body > * {
  padding: var(--body-child-padding);
}

/* headline section start */
h1 {
  color: var(--orange-color);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

.logo {
  height: 70px;
  width: 150px;
}

#hamburger-menu {
  color: inherit;
}

#headline-bg {
  background-image: url(../images/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 50px;
}

#headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#headline-section h2 {
  color: var(--orange-color);
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 25px;
}

#headline-section h1 {
  font-size: 40px;
  margin-top: 0;
  font-weight: bolder;
  color: var(--orange-color);
  text-align: center;
}

.program-card p {
  color: var(--white-color);
  width: 50%;
}

#description {
  padding: 20px;
  margin-top: 0;
  max-width: 631px;
  line-height: 150%;
  text-align: justify;
  border: 1px solid #dfdfdf;
  background-color: var(--white-color);
  color: var(--dark-grey-color);
  font-size: 13px;
}

#contact-us {
  font-size: 13px;
  margin-bottom: 4px;
  text-align: center;
  color: var(--dark-grey-color);
}

#mail {
  font-size: 15px;
  color: var(--dark-color);
}

/* headline section end */

/* logo section start */
#logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

#logo-section h2 {
  color: var(--dark-grey-color);
  font-weight: lighter;
  text-align: center;
  width: 70%;
}

#logo-section p {
  width: 80%;
  text-align: center;
}

#logo-frame {
  margin-top: 55px;
  text-align: center;
  border: 1px solid var(--gray-color);
}

#logo-frame img {
  width: 60%;
  height: auto;
}

hr {
  width: 50px;
  border: 1px solid var(--orange-color);
  margin: 8px 0;
}

/* logo section end */

/* speakers section start */
#speakers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

#speakers-section h2 {
  color: var(--dark-color);
}

#speakers-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.speaker-card {
  display: flex;
  gap: 20px;
}

.speaker-info hr {
  width: 10%;
  border-color: var(--gray-color);
}

.speaker-card img {
  height: 100%;
}

.speaker-role {
  color: var(--orange-color);
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
}

.speaker-info {
  display: flex;
  flex-direction: column;
}

.speaker-description {
  font-size: 10px;
}

.speaker-card:nth-child(n+3) {
  display: none;
}

#more {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border: solid 1px var(--gray-color);
  text-decoration: none;
  color: var(--dark-grey-color);
}

#more svg {
  color: var(--orange-color);
}

/* speakers section end */

/* Partners section start */
#partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: var(--dark-grey-color);
}

#partners-section h2 {
  color: var(--gray-color);
}

#partners-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
  padding: 20px 0;
}

#partners-list img {
  width: 120px;
  height: 80px;
}

#footer-section img {
  grid-area: img;
}

#partners-list img:nth-child(-1n + 3) {
  grid-column: span 4;
}

#partners-list img:nth-last-child(2) {
  grid-row-start: 2;
  grid-column: 3 / span 4;
}

#partners-list img:nth-last-child(1) {
  grid-row-start: 2;
  grid-column: 7 / span 4;
}

/* Partners section end */

/* footer start */
#footer-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-template-areas:
    "img title"
    "img p";
}

#footer-section h3 {
  font-size: 15px;
  font-weight: normal;
  grid-area: title;
}

#footer-section p {
  font-size: 10px;
  font-weight: normal;
  grid-area: p;
}

/* footer end */
