@media screen and (min-width: 768px) {
  :root {
    --body-child-padding-v: 0;
    --body-child-padding-h: 200px;
    --body-child-padding: var(--body-child-padding-v) var(--body-child-padding-h);
  }

  body > * {
    padding: var(--body-child-padding);
  }

  a {
    text-decoration: none;
  }

  #hamburger-menu {
    display: none;
  }

  header {
    display: block;
    padding: 0;
  }

  #nav-logo {
    height: 70px;
    width: 150px;
  }

  #top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: var(--dark-grey-color);
    padding: 10px var(--body-child-padding-h);
  }

  nav a {
    color: var(--dark-grey-color);
  }

  #top-nav-bar a {
    color: var(--white-color);
  }

  #nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--body-child-padding-h);
  }

  nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  #headline-bg {
    background-image: url(../images/main_big.png);
  }

  #campaign-link {
    color: var(--orange-color);
    border: solid 4px var(--orange-color);
    padding: 10px;
  }
}
