@media screen and (min-width: 768px) {
  /* main program section start */
  #program-section {
    padding-bottom: 50px;
  }

  #program-section button {
    display: none;
  }

  #program-section a {
    display: block;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: underline;
  }

  #program-section ul {
    flex-direction: row;
    gap: 3px;
  }

  .program-card {
    flex-direction: column;
    gap: 5px;
  }

  .program-card img {
    width: 75px;
    height: 75px;
  }

  .program-card label {
    width: 100%;
    text-align: center;
  }

  .program-card p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 13px;
  }

  /* main program section end */

  /* speakers section start */
  #speakers-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .speaker-card:nth-child(n+3) {
    display: flex;
  }

  #more {
    display: none;
  }

  /* speakers section end */

  /* partners section start */
  #partners-section ul {
    display: flex;
    padding: 0;
  }

  /* partners section end */
}
