.mobile-menu {
  position: fixed;
  flex-direction: column;
  background-color: var(--dark-grey-color);
  height: 100%;
  padding: 30px;
}

.mobile-menu * {
  color: var(--white-color);
}

#close-menu {
  align-self: flex-end;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mobile-menu a {
  font-size: 40px;
}

.menu-active {
  color: var(--orange-color);
}
