@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --dark-color: #272a31;
  --dark-grey-color: #3e3e3e;
  --orange-color: #ec5242;
  --gray-color: #d3d3d3;
  --white-color: #fff;
  --white-bg-color: #f7f7f8;
  --transparent-white-color: #ffffff1a;
  --body-child-padding: 10px 20px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body>* {
  padding: var(--body-child-padding);
}

/* headline section start */
h1 {
  color: var(--orange-color);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

.logo {
  height: 70px;
  width: 150px;
}

#hamburger-menu {
  color: inherit;
}

#headline-bg {
  background-image: url(../images/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-position: top;
}

#campaign-link {
  color: var(--orange-color);
  border: solid 4px var(--orange-color);
  padding: 10px;
}

hr {
  width: 50px;
  border: 1px solid var(--orange-color);
  margin: 8px 0;
}

/* footer section start */
#footer-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-template-areas:
    "img title"
    "img p";
}

#footer-section h3 {
  font-size: 15px;
  font-weight: normal;
  grid-area: title;
}

#footer-section p {
  font-size: 10px;
  font-weight: normal;
  grid-area: p;
}

/* footer section end */
